################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BookStore/.vs/BookStore/v16/Server/sqlite3
/BookStore/BookStore 2.0/wwwroot/lib
